<div class="container">
    <div class="row">
        
        <div class="col-md-12">
            <p style="font-family: 'lucida calligraphy';">
                <span style="font-size: 50px; color:#7f681c; opacity:0.5">❝</span>
                <u>Safety and Security do not happen, they are result of collective concensus and public investment...</u>
                <b>MANDELA N.</b>
            </p>
        </div>
        
        <div class="col-md-2"></div>
        <div class="col-md-8 w3-container w3-content w3-center w3-padding-64" style="max-width:800px">
            <h2 class="w3-wide" style="font-family: 'Comic Sans MS', cursive, sans-serif; font-weight:bold">About the Website</h2>
            <p class="w3-opacity"><i>Designed and implemented by MakeR Ltd</i></p>
            <div style="font-size:20px;" class="w3-justify">
            This application is designed and implemented for academic purpose and use.
            It is subdivided into 2 main parts: emergency part and navigation part.
            The first part comprises necessary links to help you to contact the firefighters,
            the police, the ambullance and others necessary aids for the emergency. <br><br>
            The second part is reserved for the navigation in the Website and the full control 
            of hte house for exemple switching the lamps, monitoring the doors etc...
            It is really easy to use and it is adapted to the each every on level no matter you are
            novice or expert in computers or technologies. it is adapted and user friendly.
            <br>
            <br>
            This system allows you to make your house automonomous just with your smart phone, no more worring about the
            loss of the keys or the forgetting of the latter, seeing that at 95% of the population that uses the smartphone
            they hold and take care of their smartphone better, that why we choosed to use the technogy that will help us
            to reach the control of the house every where the customer is whith his(her) smartphone and can control his whole house.
            <br>
            <br>
            <br>
            <em><b>What happen if I customer looses my phone? Should I destroy all that I sweated for, during centuries???</b></em><br>
            <br>
            <br>
            This is the problem we are all facing in our today life.... We can not ditch you in such a dilema
            Did you ever know that a simple phone call or an sms could save your house? if this happens do not panic we are there for 
            you. You have to simply call our assistance if it is emergent or send an sms, to let your house opened until you resolve the problem 
            <br>
            <br>
            <em style=""><b>Now, there we are fixed, assume that the phone is stolen or sneaked, the control of my house belongs to the thief???</b></em><br>
            <br>
            <br>
            Do not worry, everything is under control, if you miss your phone or is call as fast as possible in order to block temporarily or permanantly
            depending on the case in which your phone is in.


            </div>
            <br>
        <h6 style="font-family: 'Script mt';">
            With MakeR company let you be guided by the technogy and forget that annoying sound of keys and live in an automatic world...
        </h6>
        <br>
        </div>
        <div class="col-md-2"></div>
            <div class="requirements w3-padding-large">
                <h1 class="w3-center" style="font-family: 'Script mt bold', cursive, sans-serif; font-weight:bold">System Requirements</h1>
                <div class="w3-justify" style="font-family: 'berlin sans fb'; font-size:20px;">
                    To be used efficiently, all omputer software needs certain hardware components or other software ressources to be present on a computer.
                    These requirements are known as <b>System Requirements</b> and are often used as guideline as opposed to an absolute rule
                    
                    <h3>Hardware Requirements</h3>
                    This requirement is very useful in order to test the compatibily and incompatibility of some devices for our application. 
                    <ul>
                        <li>Physical Computer(PCs, Desktops, smartphone, tablet computer, etc</li>
                        <li>Processing power( both 32bits and 64 bits): the minimun frequence that the CPU must have is at least <b>1,8GHz</b> and above</li>
                        <li>Memory: here is about the <b>RAM 1GB</b> and above for smartphone and tablet computers and <b>4GB</b> and above for PCs and Desktops</li>
                        <li>Secondary storage <b>2GBs</b> for smartphones and/ or tablets computers <b>300Gb</b> for PCs and Desktops</li>
                        <li>Display Adapter: Happily our apllication is responsive</li>
                        <li>Peripherals : <b>network devices</b></li>
                    </ul>
                    <br>
                   <h3>Software Requirements</h3>
                    Software requirements deal with defining software resource requirements and prerequisites that need to be installed on a computer
                    to provide optimal functioning of an application.
                    <ul>
                        <li><b>Plateform</b> : Operating System(Windows XP, Windows7, Windows8, Windows10, Kali Linux, Ubuntu, Mac OS) 32 or 64bits</li>
                        <li><b>Web browser</b>: firefox mozila, googlechrome, Safari, Opera, ...</li>
                    </ul>
                    
                    <h3>Other Requirements</h3>
                    <ul>
            
                        <li>This Website needs the internet connection in order to be accessed</li>
                    </ul>
                </div>
            </div>
    </div>
</div>