    <style>
  /* Make the image fully responsive */
  .carousel-inner img {
    width: 100%;
    
  }
  </style>

<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="carousel-inner">
    
    <div class="carousel-item active">
      <img src="../public/img/New imgs/psd/img (7).jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: #eec230; font-family:elephant" class="w3-hide-small"><i>HOME SECURITY IMPROVEMENT</i></h3>
        <p style="color:#ffff;font-family:'script mt'; font-size:20px">Empower your smartphone to monitor and manage your home Security</p>
      </div>   
      {{!-- <div class="w3-display-middle w3-jumbo" style="color:white;">
        <p style="font-family: elephant; font-size:40px"><i>Welcome to MakeR company</i></p>
      </div> --}}
    </div>
    <div class="carousel-item">
      <img src="../public/img/New imgs/psd/act.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3 style="color: #eec230; font-family:elephant" class="w3-hide-small"><i> FULL CONTROL ON YOUR HOUSE</i></h3>
        <p style="color: white;font-family:'script mt'; font-size:20px">All that you've dreamed of for a long time</p>
      </div>
      <div class="w3-display-middle" style="color:#bfe6ef; font-family:'elephant italic'">
        {{!-- <p style="font-family: elephant;font-size:60px;"><i> Your home security&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; is our priority</i></p> --}}
      </div>   
    </div>
    <div class="carousel-item">
      <img src="../public/img/New imgs/psd/img3.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        {{!-- <h1 style="color: #eec230;">ALL YOU NEED IS A SMARTPHONE</h1> --}}
       
        <h3 style="color:#eec230; font-family:'elephant';" class="w3-hide-small"> <i>STAY SAFE IN A DIGITAL WORLD</i></h3>
  
        <p  style="color: #ffff;font-family:'script mt'; font-size:20px">Move and enjoy the fullness of the digital world</p>
      </div> 
      
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<br/><br/><br/><br/>     

  <div class="container">
    <div class="row">
      <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12">
        <div class="container mt-4 w3-card-4">
          <div class="card-group">
            <div class="card-body text-center">
              <h6 style="font-weight: bold; font-family:'berlin sans fb'; color:#1e3640">Private Security</h6>
              <img src="/public/img/log/user.png" alt="Fire logo" class="w3-left w3-margin-right"   id="bulbon5" style="height:60px;width:60px;">
              <p class="card-text w3-justify" style="font-family: 'trebuchet ms';" >For the security of the Family as well as your home here the unique address</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12">
        <div class="container mt-4 w3-card-4">
          <div class="card-group">
            <div class="card-body text-center">
              <h6 style="font-weight: bold; font-family:'berlin sans fb'; color:#1e3640">Door Controller</h6>
              <img src="/public/img/log/lock.png" alt="Fire logo" class="w3-left w3-margin-right"   id="bulbon5" style="width:60px;height:60px;">
              <p class="card-text w3-justify" style="font-family: 'trebuchet ms';" >Are you stressed and bored with keys sounds? This is your plateform</p>

            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12">
        <div class="container mt-4 w3-card-4">
         <div class="card-group">
            <div class="card-body text-center">
              <h6 style="font-weight: bold; font-family:'berlin sans fb'; color:#1e3640">Light Controller</h6>
              <img src="/public/img/log/lamp.png" alt="Fire logo" class="w3-left w3-margin-right"   id="bulbon5" style="width:60px;height:60px;">
              <p class="card-text w3-justify" style="font-family:'trebuchet ms';" >MakeR company helps you to control your light wirelessly and remotely</p>

            </div>
          </div>
        </div>
      </div>

      <div class="row">
      <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12">
        <div class="container mt-4 w3-card-4">
          <div class="card-group">
            <div class="card-body text-center">
              <h6 style="font-weight: bold; font-family:'berlin sans fb'; color:#1e3640">Intrusion Dectection</h6>
              <img src="/public/img/log/intrusion.png" alt="Fire logo" class="w3-left w3-margin-right"   id="bulbon5" style="width:60px;height:60px;">
              <p class="card-text w3-justify" style="font-family: 'trebuchet ms';" >For the security of the Family as well as your home here the unique address</p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12">
        <div class="container mt-4 w3-card-4">
          <div class="card-group">
            <div class="card-body text-center">
              <h6 style="font-weight: bold; font-family:'berlin sans fb'; color:#1e3640">Air Conditioning</h6>
              <img src="/public/img/log/therm.png" alt="Fire logo" class="w3-left w3-margin-right"   id="bulbon5" style="width:60px;height:60px;">
              <p class="card-text w3-justify" style="font-family: 'trebuchet ms';" >For the security of the Family as well as your home here the unique address</p>

            </div>
          </div>
        </div>
      </div>
      
      <div class="col-xlg-4 col-lg-4 col-md-4 col-sm-12">
        <div class="container mt-4 w3-card-4">
         <div class="card-group">
            <div class="card-body text-center">
              <h6 style="font-weight: bold; font-family:'berlin sans fb'; color:#1e3640">Fire & Smoke Dectection</h6>
              <img src="/public/img/log/fire.png" alt="Fire logo" class="w3-left w3-margin-right"   id="bulbon5" style="width:40px;height:60px;">
              <p class="card-text w3-justify" style="font-family: 'trebuchet ms';" >For the security of the Family as well as your home here the unique address</p>

            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

  </div>  
</div>
<br>
<br>


<hr class="featurette-divider m-0"> 
<div class="container-fluid  pb-5" style="background-color: #ccc;">
  <div class="row featurette pb-5 m-0">
    <div class="col-md-6 container-fluid" style="margin-left: 20px;">
        <h2 class="featurette-heading" style="color: #1e3640;">We don't close eyes for your security and well being. <span class="text-muted">It blows your mind.</span></h2>
        <p class="lead" style="font-family: 'trebuchet ms';">
          Have you ever dreamed of an intelligent house? It is not only in dreams and fictions, now it is implimented and real, all that 
          you need is to hold at least a simple smartphone. Everything has been set up for you. Come and enjoy!
          Do you want to controller and monitor the unknown traffics, no need to have a pack of hounds and all a regiments
        </p>
        <span style="font-size:50px;line-height:0.6em;opacity:0.4">❝</span>
        <p style="color: #1e3640; font-weight:bold; font-family:'lucida calligraphy'; margin-left:10px"> <em>With just a simple smartphone and MakeR company all your dreams are coming to pass</em> </p>
        {{!-- <p><a class="btn btn-primary" href="#" role="button">View details</a></p> --}}
    </div>
    <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto " src="/public/img/about.png" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
  </div>
</div>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/jquery.min.js"></script>
<script src="/public/js/popper.min.js"></script>