<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "script mt", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/public/img/Avatar/img_avatar4.png" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            {{#if username}}
            <h2> {{ username }}</h2>
            {{/if}}
          </div>
          {{!-- <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2 style="font-family: Old English Text MT;" class="">MakeR company</h2>
          </div> --}}
        </div>
        <div class="w3-container">
          <h5 style="font-family: broadway; font-weight:bold">Arnold MAK</h5>
          <h5 style="font-family: broadway; font-weight:bold">KAHUMUZA 404Error</h5>
          <p style="font-family: broadway;">makercompany@gmail.com</p>
          <p style="font-family: broadway;"> +250 - 789 - 158 - 308</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills used in the Project</b></p>
          <p>NodeJS, ExpressJs, Express-Handlebars, Css, MongoDB,JavaScripts</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge " style="width:90%;background-color: #eec230;">90%</div>
          </div>
          <p>Electronics and Arduino</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge" style="width:80%;background-color: #eec230;">
              <div class="w3-center ">80%</div>
            </div>
          </div>
          <p>Google SketchUp</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge" style="width:75%;background-color: #eec230;">75%</div>
          </div>
          <p>Other Skills</p>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge" style="width:50%; background-color: #eec230;">50%</div>
          </div>
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16" style="font-family: broadway;">Programmer back and front end</h2>
        <div class="w3-container">
          <h5 class="w3-opacity" style="font-family: broadway;"><b>Do's</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2020 - <span class="w3-tag w3-round" style="background-color: #eec230;color:#1e3640">Current</span></h6>
          <p>This project is designed and implemented in academic purpose and should be used hundred percent in that field.</p>
          <p>The coding style inside is adapted for academic uses and may be subject to correction. In case this project would be prossionally implemented some of codes  should be
              revised and supervised by professional in order to be safe 100% safe
          </p>
          <p><b>NOTE:</b> Being an academic purposed project it's subject to critism and correction, there exist many coding style that can do the same but 
          with different syntax, but we choosed this one because we judge it to be easy and more explicit to any learner or professional who would like to enhance or to
          do this project</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity" style="font-family: broadway;"><b>Don't</b></h5>
          <p>This is project is not for business end, in case you would like the same project we can design and implement a professional one for that end!</p>
          <p><b>Do not use this project for the business purpose in case you do so, it is on your own responsability <br>
          We decline and deny any responsability which may be legal, financial or other in case some one decides to use this projects for business end

          </b></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity" style="font-family: broadway;"><b>Career and Achievements</b></h5>
          <p>We tolerate those who will be interested in this project and would like to do the same to use present as reference or guide</p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16" style="font-family: broadway;">Warnings</h2>
        <div class="w3-container">
         <p><b>Do not use this project for the business purpose in case you do so, it is on your own responsability <br>
          We decline and deny any responsability which may be legal, financial or other in case some one decides to use this projects for business end
          <hr>
        </div>
        <hr>
        <h2 class="w3-text-grey w3-padding-16" style="font-family: broadway;">Education and Schools</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Massachusetts Institute of Technology <span class="w3-tag w3-round" style="background-color: #eec230; color:#1e3640" >MIT</span> </b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2021 - 2023</h6>
          <p>Master Degree</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Universite Libre de KIGALI <span class="w3-tag w3-round" style="background-color: #eec230; color:#1e3640">ULK</span></b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017 - 2020</h6>
          <p>Bachelor Degree</p><br>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

 <!-- Right Column -->
   